{% schema %}
{
  "name": "Hero banner ",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Our Collection"
    },
    {
        "type": "image_picker",
        "id": "hero_bg",
        "label": "Hero Background Image"
      },
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero banner",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="custom-collection">
  <div class="hero">
    {% if section.settings.hero_bg %}
      <div class="hero-bg">
        <img
          src="{{ section.settings.hero_bg | image_url: width: 1600 }}"
          alt="Gift Guide Background"
          width="{{ section.settings.hero_bg.width }}"
          height="{{ section.settings.hero_bg.height }}">
      </div>
    {% endif %}

  
  </div>
</section>

{% stylesheet %}
.custom-collection {
  padding: 16px 8px;
}
.custom-collection-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}
.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.custom-item img { 
  width: 100%; 
  border-radius: 8px; 
  display: block;
}

@media (max-width: 768px) {
  .custom-collection {
    padding: 40px 5%;
  }
  .custom-grid {
    grid-template-columns: repeat(2, 1fr);  
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .custom-grid {
    grid-template-columns: 1fr;  
  }
}
{% endstylesheet %}
