{% schema %} 
    {
        "name": "product-section",
        "settings": [
            {
                "type": "text",
                "id": "section-title", 
                "label": "section header"  
            }, 
            {
                "type": "image_picker",
                "id": "product_img", 
                "label": "select product image"  
            }  
            
        ],
        
        "presets": [
            {
            "name": "product-section"
            }
        ]
    }
    
{% endschema %} 


<div>
    {{ section.settings.section-header }}
    {{ section.settings.product_img  }}
</div> 

