{% schema %}
{
  "name": "product-section",
  "settings": [
    {
      "type": "text",
      "id": "section-header",
      "label": "section header"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "image_picker",
      "id": "product_img",
      "label": "select product image"
    }
  ],

  "presets": [
    {
      "name": "product-section"
    }
  ]
}
{% endschema %}

<div>
  {{ section.settings['section-header'] }}
  {{ section.settings.product_img }}
</div>

{% stylesheet %}
{% endstylesheet %}
